/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Custom properties*/
:root{
    --green: #009688;
    --bg-gray: #dcdbd3;
    --bg-chat: #ece5dd;
    --light-blue: #8edafc;
    --sent-color: #d5f9ba;
    --gray: #aaa;
    --dark-gray: #ccc;
    --light-gray: #eaeaea;
    --darker-gray: #222e35;
}
/*Pseudo-classes*/

/*Generics*/
body{
    height: 100vh;
    background-image: linear-gradient(var(--green) 15%, var(--bg-gray) 15%);
}
/*Utilties*/

/*Main section*/
#app .container{
    height: 90%;
}
#chat{
    background-color: var(--bg-chat);
}

/* --Background utils-- */
.bg-light-gray{
    background-color: var(--light-gray);
}
.bg-light-blue{
    background-color: var(--light-blue);
}
.bg-chat-image{
    background-image: url('../img/mine.jpg');
}
.bg-chat-color{
    background-color: var(--bg-chat);
}

/* chat section */
#chat header,
#chat footer,
#user-section {
    height: 70px;
}

/* Notifications */
#notifications{
    height: 80px;
}
#notifications .fa-bell-slash{
    color: #8edafc;
}

/* Media */
.media {
    height: 100%;
    display: flex;
    align-items: center;
}
.media figure{
    height: 70px;
    padding: 0.5rem;
    margin-bottom: 0;
    flex-shrink: 0;
}
.media img{
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}
.media .media-text{
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.media .media-icon{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}
